
@{
    ViewBag.Title = "InvalidLogin";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>InvalidLogin</h2>
<p>Please <a style="color:blue" href="@Url.Action("Login", "Home")">Click Here</a> to redirect back to Login Page.</p>

